---
---

<center><h1>üìç üìç Overview of Subsetting in Pandas üìç üìç</h1></center>



---

#### `TABLE OF CONTENTS`

- What is an index?
- How to subset first N rows based on their position index?
- Can we change the index?
- Will the index be always numeric?
- How to subset the data based on a label of the index?
- Can we reset the index?
- How to subset the data based on a value of a column?

---


#### `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

In [2]:
# import the pandas library
import pandas as pd

In [3]:
# read the big mart sales data
data = pd.read_csv('/Users/annie/Documents/GitHub/Python-libraries-playground/datasets/big_mart_sales.csv')

#### `WHAT IS INDEX?`

![](index.png)

-  You can see the index object by `DataFrame.index`.

In [4]:
# index of the dataframe
data.index

RangeIndex(start=0, stop=8523, step=1)

***So, In this case, we have the numeric index value start from the 0 and ends at 8523.***

In [5]:
# no. of rows and columns in the data
data.shape

(8523, 12)

In [6]:
# column index
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

#### `HOW TO SUBSET FIRST 'N' ROWS BASED ON THEIR POSITION INDEX?`

In [7]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

#### `CAN WE CHANGE THE INDEX?`

---

***The answer is `Yes`. We can change the index. Let's see how?***

---

#### Create a random list of 8523 numbers and set it as the index
---

In [8]:
# create random list
import random
random_list = [random.randint(1, 8523) for i in range(8523)]

In [9]:
random_list

[2235,
 2852,
 5765,
 4094,
 7325,
 5360,
 283,
 3189,
 6012,
 3921,
 990,
 2030,
 2956,
 4857,
 8323,
 3091,
 6628,
 6971,
 670,
 1999,
 3018,
 4397,
 6829,
 2076,
 7650,
 694,
 6685,
 3841,
 1200,
 7590,
 7956,
 8495,
 2718,
 655,
 6524,
 4274,
 8457,
 5043,
 8090,
 6744,
 2910,
 3314,
 2011,
 3572,
 6375,
 2202,
 3675,
 2592,
 2510,
 7393,
 7338,
 6206,
 1543,
 1821,
 1803,
 3579,
 6913,
 2838,
 2362,
 1455,
 8287,
 7009,
 6471,
 7572,
 5312,
 7293,
 5869,
 4388,
 6419,
 4105,
 2920,
 6015,
 476,
 6965,
 2664,
 7832,
 3607,
 2759,
 1581,
 5694,
 8132,
 6190,
 857,
 1710,
 213,
 6823,
 6384,
 1314,
 8080,
 740,
 6317,
 6151,
 5958,
 3956,
 5020,
 4189,
 7198,
 7483,
 2203,
 5064,
 5121,
 6079,
 4622,
 6491,
 3811,
 1802,
 1226,
 6345,
 5682,
 236,
 2707,
 4098,
 3961,
 2094,
 4317,
 1087,
 3870,
 7800,
 852,
 4887,
 5265,
 3924,
 3825,
 8434,
 7746,
 5460,
 1568,
 7609,
 1649,
 4159,
 4460,
 5665,
 1622,
 7197,
 8052,
 5731,
 1295,
 2719,
 3202,
 5179,
 2727,
 4302,
 1536,
 4879,
 3680,
 4988,
 713,
 7026,
 1313,
 814,
 1610,
 8227,
 2620,
 7674,
 3813,
 5807,
 8464,
 4040,
 3097,
 2363,
 8334,
 7023,
 433,
 6369,
 4784,
 4935,
 3892,
 6370,
 1940,
 4385,
 7041,
 929,
 7108,
 8038,
 4171,
 4072,
 3055,
 6442,
 3873,
 383,
 8027,
 7215,
 2864,
 7509,
 2044,
 5364,
 7392,
 2805,
 2352,
 5231,
 7947,
 3849,
 1697,
 3229,
 1338,
 1930,
 4982,
 7982,
 5702,
 4641,
 1237,
 3753,
 4137,
 7296,
 2617,
 7870,
 932,
 3409,
 4436,
 3745,
 4405,
 4637,
 6494,
 1987,
 377,
 4911,
 984,
 4154,
 7899,
 2046,
 2798,
 3098,
 4340,
 8191,
 8163,
 2986,
 373,
 1869,
 2879,
 8370,
 8238,
 7246,
 5972,
 7961,
 7625,
 2422,
 6129,
 989,
 1411,
 3186,
 3229,
 7292,
 6018,
 7742,
 1831,
 4978,
 3725,
 2640,
 124,
 1119,
 4063,
 7530,
 7068,
 5015,
 5208,
 7142,
 2604,
 2639,
 247,
 8288,
 5878,
 7152,
 6244,
 6701,
 8023,
 2748,
 3009,
 6245,
 5703,
 4340,
 7252,
 8461,
 1885,
 5927,
 116,
 4991,
 3546,
 3581,
 5851,
 8151,
 3943,
 6194,
 3126,
 4696,
 1454,
 6833,
 1465,
 840,
 7421,
 5481,
 3465,
 2203,
 7613,
 2993,
 8260,
 1403,
 738,
 311,
 1731,
 1855,
 5829,
 6657,
 6221,
 1106,
 191,
 550,
 2849,
 725,
 845,
 1847,
 1008,
 4402,
 611,
 4177,
 6889,
 1124,
 6885,
 4137,
 1810,
 6996,
 5487,
 4231,
 4427,
 1965,
 6788,
 7287,
 4016,
 2056,
 3859,
 4180,
 1389,
 1987,
 6767,
 583,
 4304,
 895,
 8289,
 8408,
 1512,
 7569,
 7012,
 1499,
 6261,
 5599,
 7482,
 1932,
 7924,
 485,
 5223,
 8464,
 5544,
 2410,
 2044,
 5229,
 8400,
 158,
 4023,
 5042,
 4160,
 1699,
 5324,
 947,
 7313,
 665,
 6163,
 5975,
 1514,
 5784,
 7320,
 8484,
 2550,
 2749,
 6989,
 157,
 6336,
 495,
 7174,
 7412,
 6659,
 7927,
 4289,
 6797,
 5703,
 8040,
 5478,
 4944,
 5648,
 1854,
 5810,
 7595,
 794,
 86,
 4271,
 1135,
 3636,
 4846,
 1596,
 8310,
 1968,
 4411,
 7720,
 7805,
 4722,
 2095,
 8260,
 7078,
 1066,
 5984,
 1021,
 1156,
 7896,
 6881,
 5757,
 7901,
 8021,
 2499,
 3499,
 566,
 7103,
 4047,
 4998,
 1149,
 2615,
 3826,
 5846,
 8008,
 4465,
 4764,
 5952,
 7015,
 1681,
 5416,
 4493,
 4263,
 3920,
 5596,
 4442,
 6362,
 4522,
 6182,
 5060,
 990,
 250,
 416,
 7020,
 4540,
 7396,
 838,
 4862,
 7807,
 5768,
 4093,
 5793,
 2037,
 3972,
 2736,
 1348,
 142,
 8141,
 5285,
 7733,
 5229,
 2443,
 2408,
 2213,
 610,
 5798,
 6543,
 7594,
 3776,
 5864,
 2197,
 310,
 7457,
 1028,
 1857,
 6544,
 96,
 7089,
 3683,
 4560,
 6077,
 3860,
 7174,
 1888,
 1103,
 6774,
 8479,
 2238,
 3184,
 6922,
 6574,
 7773,
 25,
 1947,
 2462,
 187,
 8083,
 3993,
 3588,
 2420,
 8503,
 7822,
 7197,
 5874,
 1472,
 8254,
 5524,
 7585,
 7090,
 4018,
 2217,
 8495,
 3790,
 5079,
 7035,
 3426,
 505,
 8442,
 1161,
 7804,
 7153,
 4489,
 5342,
 7367,
 4923,
 4633,
 8474,
 345,
 6166,
 3820,
 6357,
 3151,
 779,
 5913,
 3270,
 1687,
 7342,
 4419,
 4230,
 4014,
 348,
 6613,
 2331,
 232,
 1797,
 1563,
 5595,
 3146,
 3047,
 7995,
 5066,
 3660,
 3065,
 7614,
 6883,
 4255,
 381,
 6700,
 7837,
 245,
 3310,
 951,
 6113,
 7427,
 4766,
 8293,
 4564,
 1659,
 3726,
 6488,
 1665,
 2861,
 2133,
 5993,
 5184,
 1005,
 8417,
 2115,
 2940,
 5670,
 2926,
 7384,
 5205,
 21,
 8502,
 8479,
 4242,
 1393,
 7499,
 7841,
 6777,
 5868,
 5743,
 5476,
 6812,
 5585,
 162,
 1579,
 1595,
 7285,
 3614,
 412,
 6713,
 988,
 7063,
 6142,
 653,
 3742,
 3120,
 871,
 5456,
 3211,
 2516,
 4530,
 2495,
 2639,
 4200,
 862,
 5375,
 5283,
 750,
 7401,
 1834,
 96,
 7529,
 4760,
 8202,
 6839,
 3076,
 1246,
 607,
 4794,
 2566,
 3972,
 4194,
 6934,
 2057,
 6049,
 6457,
 6137,
 3263,
 1740,
 6551,
 2890,
 7577,
 3253,
 2455,
 2862,
 3106,
 3415,
 2554,
 1579,
 6160,
 2898,
 4511,
 1100,
 6142,
 2513,
 2905,
 786,
 131,
 91,
 2598,
 5962,
 4425,
 4569,
 723,
 6864,
 8029,
 2891,
 501,
 6924,
 36,
 5486,
 6519,
 8211,
 4851,
 2941,
 3630,
 6832,
 6479,
 1786,
 6946,
 2595,
 7205,
 5297,
 1328,
 5792,
 6868,
 6811,
 7453,
 1537,
 2767,
 6246,
 5005,
 8478,
 3691,
 196,
 468,
 4061,
 5206,
 1724,
 3550,
 5779,
 8410,
 2923,
 5922,
 1283,
 7874,
 6690,
 6907,
 2610,
 270,
 1242,
 2362,
 3147,
 5858,
 597,
 2262,
 3195,
 5455,
 2385,
 1394,
 4773,
 6825,
 2612,
 972,
 374,
 4466,
 7059,
 2964,
 7856,
 5220,
 4604,
 1544,
 96,
 775,
 1333,
 2623,
 5716,
 7592,
 4911,
 3093,
 1376,
 867,
 7952,
 2977,
 4505,
 7171,
 5389,
 988,
 3240,
 359,
 6297,
 8360,
 4920,
 5838,
 7609,
 2192,
 8465,
 3336,
 1650,
 1563,
 575,
 5294,
 7359,
 6902,
 2868,
 7528,
 1378,
 1942,
 5629,
 2547,
 3722,
 519,
 8222,
 3849,
 8067,
 626,
 5334,
 7779,
 564,
 2457,
 5656,
 3254,
 1719,
 5116,
 1484,
 4152,
 2594,
 6065,
 2582,
 5495,
 643,
 8050,
 1277,
 8354,
 5456,
 2507,
 2278,
 726,
 4202,
 3218,
 6314,
 4500,
 841,
 2161,
 8385,
 6695,
 7963,
 356,
 2125,
 529,
 5878,
 5704,
 4195,
 3681,
 8335,
 6391,
 2039,
 4921,
 8492,
 6218,
 5559,
 8508,
 3898,
 5464,
 3334,
 700,
 7559,
 3951,
 6841,
 8044,
 7251,
 1000,
 1566,
 5542,
 4195,
 2684,
 5384,
 2774,
 6896,
 4860,
 6356,
 1293,
 6266,
 3215,
 4454,
 4622,
 6436,
 8349,
 6010,
 5289,
 8266,
 7619,
 4631,
 2747,
 4309,
 6675,
 293,
 1956,
 3540,
 1951,
 200,
 932,
 5483,
 7148,
 4318,
 5099,
 3576,
 3021,
 7722,
 4183,
 1515,
 7946,
 3917,
 5365,
 621,
 6539,
 7453,
 3151,
 3100,
 2648,
 372,
 8409,
 5578,
 1254,
 4331,
 4708,
 3092,
 3403,
 5234,
 144,
 4406,
 4704,
 1206,
 5164,
 8062,
 2802,
 3347,
 3323,
 3786,
 5716,
 5949,
 7990,
 735,
 3639,
 634,
 5436,
 209,
 691,
 7982,
 2958,
 158,
 7451,
 3523,
 4623,
 4040,
 3611,
 7643,
 5724,
 7935,
 5296,
 7968,
 5610,
 4099,
 4500,
 5162,
 2106,
 7997,
 5770,
 5714,
 4060,
 3526,
 7517,
 2510,
 6415,
 8149,
 3827,
 2357,
 4677,
 7310,
 1355,
 3589,
 2472,
 5482,
 6530,
 5831,
 5176,
 959,
 1958,
 1416,
 581,
 7160,
 8096,
 539,
 6863,
 4017,
 6930,
 61,
 1407,
 2783,
 5926,
 989,
 5155,
 1624,
 5576,
 4342,
 7472,
 4180,
 708,
 1580,
 6531,
 476,
 116,
 3947,
 464,
 6884,
 8488,
 3612,
 7816,
 1639,
 3744,
 6942,
 7868,
 7927,
 6321,
 8483,
 1865,
 4517,
 5835,
 4034,
 8318,
 6853,
 666,
 2272,
 3780,
 961,
 7846,
 ...]

In [10]:
# set the index
data.index = random_list

In [11]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2235,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2852,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
5765,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4094,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
7325,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

***Set another column of the dataframe as the index. We will use the set_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html'***

---

In [12]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe
# data = pd.read_csv('datasets/big_mart_sales.csv')

data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

In [13]:
# example of a label based index
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [14]:
data.index

Int64Index([1999, 2009, 1999, 1998, 1987, 2009, 1987, 1985, 2002, 2007,
            ...
            2004, 2002, 2009, 2009, 1997, 1987, 2002, 2004, 2009, 1997],
           dtype='int64', name='Outlet_Establishment_Year', length=8523)

---

### `WILL THE INDEX BE ALWAYS NUMERIC?`

---


***No, We can also have categorical variables as the index of a dataframe.*** 

---

In [15]:
# reset the index
data.set_index('Item_Identifier', drop= True, inplace=True)

In [16]:
# view the top rows of the data
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [17]:
# index of the data
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

---

#### `HOW TO SUBSET THE DATA BASED ON THE LABEL OF THE INDEX?`

- We can subset the data based on the label of the index using the loc function.
---

In [18]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

***What if we want to change the index back to positional?***

---

#### `CAN WE RESET THE INDEX?`

***Yes, we can reset the index. Let's see how? We will use the reset_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html***

---

In [19]:
# reset the index
data.reset_index(inplace=True)

In [20]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

#### `HOW TO SUBSET THE DATA BASED ON A VALUE OF A COLUMN?`

---

In [21]:
data[data['Item_Type'] == 'Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,High,Tier 3,Supermarket Type1,2479.4392

----

#### `WE WILL SEE HOW TO SUBSET THE DATA BASED ON POSITION, LABEL AND VALUES IN DETAIL`

---

In [22]:
data[data.Outlet_Location_Type == 'Tier 3']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,High,Tier 3,Supermarket Type1,343.5528
...,...,...,...,...,...,...,...,...,...,...,...
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,High,Tier 3,Supermarket Type1,2479.4392
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,Medium,Tier 3,Supermarket Type2,858.8820
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976

In [25]:
data[(data.Outlet_Size == 'High') & (data.Item_Fat_Content == 'Low Fat')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,High,Tier 3,Supermarket Type1,1977.4260
41,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013,High,Tier 3,Supermarket Type1,2150.5340
51,FDM40,10.195,Low Fat,0.159804,Frozen Foods,141.5154,OUT013,High,Tier 3,Supermarket Type1,850.8924
109,DRK49,14.150,Low Fat,0.035914,Soft Drinks,41.4138,OUT013,High,Tier 3,Supermarket Type1,812.2760
...,...,...,...,...,...,...,...,...,...,...,...
8438,FDE26,9.300,Low Fat,0.088932,Canned,143.3786,OUT013,High,Tier 3,Supermarket Type1,3034.0506
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834